@using System.Security.Claims

<h5>Hello Princess @User.Identity.Name</h5>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />
<script src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script src="~/js/script.js"></script>
<canvas id="canvas"></canvas>

@model princessrun.Models.Hero

<h2>Your avatar @User.Identity.Name</h2>
<hr />

@*@foreach(var item in (IEnumerable<princessrun.Models.Item>)ViewData["items"])
{
    <li>@item.Description</li>
}*@

@if (Model != null)
{
    var bytes = Model.Avatar;
    var base64 = Convert.ToBase64String(bytes);
    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    <img src="@imgsrc"/>
}

@Html.ActionLink("Create new", "Create")